<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ESM后台管理系统</title>

    <link rel="stylesheet" href="/resources/css/normalize.css">
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/themify-icons.css">
    <link rel="stylesheet" href="/resources/css/pe-icon-7-filled.css">
    <link rel="stylesheet" href="/resources/css/flag-icon.min.css">
    <link rel="stylesheet" href="/resources/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/resources/css/style.css">

    <link href="/resources/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

    <style>
        html {
           height: 100%;
        }

        body {
           height: 100%;
        }
    	#weatherWidget .currentDesc {
        color: #ffffff!important;
    	}
        .traffic-chart {
            min-height: 335px;
        }
        #flotPie1  {
            height: 150px;
        }
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
             height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }

    
    </style>
</head>

<body >
	<!-- Left Panel -->
    <div id="aside">
    </div>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel" >
        <!-- Header-->
        <div id="header">
        </div>
        <!-- /#header -->


        <div class="content" >
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-header">
                              <div >
                                  <strong class="card-title" >待修改数据</strong>
                              </div>
                            </div>

                            <div class="card-body" style="">
                                <div class="row form-group" style="width:89%;margin 0 auto;margin-left:10%;">
                                  <div style="width:33.33%;">
                                    <div class="row" style="float:left;overflow:hidden; text-overflow:ellipsis;width:80%">
                                        <button type="button" class="btn btn-outline-danger btn-lg btn-block" name="r" id="Page1">固定车辆入校须知</button>
                                    </div>
                                  </div>
                                  <div style="width:33.33%;">
                                    <div class="row" style="margin-left:10%;overflow:hidden;text-overflow:ellipsis;width:80%;">
                                        <button type="button" class="btn btn-outline-danger btn-lg btn-block" name="r" id="Page2">临时车辆入校须知</button>
                                    </div>
                                  </div>
                                  <div style="width:33.33%;">
                                    <div class="row" style="float:right;overflow:hidden; text-overflow:ellipsis;width:80%">
                                        <button type="button" class="btn btn-outline-danger btn-lg btn-block" name="r" id="Page3">临时人员入校须知</button>
                                    </div>
                                  </div>
                                </div>

                                <div name="pages">
                                    <form role="form" action="{:url('plugin_content/doModify')}" method="post">
                                        <div class="row form-group">
                                            <div class="col col-md-1">
                                                <label for="password-input" class=" form-control-label">标题</label>
                                            </div>
                                            <div class="col-12 col-md-11">
                                                <input type="hidden" id="Page0" name="Page0" value="Page0"/>
                                                <textarea id="title" name="title" rows="1" cols="30" class="form-control">{$data[0]['title']}</textarea>
                                                <small id="modified_time" name="modified_time" class="help-block form-text"><span>上次修改时间：</span>{$data[0]['modified_time']}</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-1">
                                                <label for="textarea-input" class=" form-control-label">内容</label>
                                            </div>
                                            <div class="col-12 col-md-11">
                                                <textarea id="content" name="content" rows="20" cols="100" class="form-control">{$data[0]['content']}</textarea>
                                                <button type="submit" class="btn btn-outline-danger btn-lg btn-block" style="margin-top:15px">
                                                    <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                    <span id="payment-button-amount">确认修改</span>
                                              	</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- pages1 -->
                                <div name="pages" style="display:none">
                                    <form role="form" action="{:url('plugin_content/doModify')}" method="post">
                                        <div class="row form-group">
                                            <div class="col col-md-1">
                                                <label for="password-input" class=" form-control-label">标题</label>
                                            </div>
                                            <div class="col-12 col-md-11">
                                                <input type="hidden" id="Page1" name="Page1" value="Page1"/>
                                                <textarea id="title" name="title" rows="1" cols="30" class="form-control">{$data[1]['title']}</textarea>
                                                <small id="modified_time" name="modified_time" class="help-block form-text"><span>上次修改时间：</span>{$data[1]['modified_time']}</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-1">
                                                <label for="textarea-input" class=" form-control-label">内容</label>
                                            </div>
                                            <div class="col-12 col-md-11">
                                                <textarea id="content" name="content" rows="20" cols="100" class="form-control">{$data[1]['content']}</textarea>
                                                <button type="submit" class="btn btn-outline-danger btn-lg btn-block" style="margin-top:15px">
                                                    <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                    <span id="payment-button-amount">确认修改</span>
                                              	</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- pages2 -->
                                <div name="pages" style="display:none">
                                    <form role="form" action="{:url('plugin_content/doModify')}" method="post">
                                        <div class="row form-group">
                                            <div class="col col-md-1">
                                              	<label for="password-input" class=" form-control-label">标题</label>
                                            </div>
                                            <div class="col-12 col-md-11">
                                              	<input type="hidden" id="Page2" name="Page2" value="Page2"/>
                                              	<textarea id="title" name="title" rows="1" cols="30" class="form-control">{$data[2]['title']}</textarea>
                                              	<small id="modified_time" name="modified_time" class="help-block form-text"><span>上次修改时间：</span>{$data[2]['modified_time']}</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-1">
                                              	<label for="textarea-input" class=" form-control-label">内容</label>
                                            </div>
                                            <div class="col-12 col-md-11">
                                            	<textarea id="content" name="content" rows="20" cols="100" class="form-control">{$data[2]['content']}</textarea>
                                            	<button type="submit" class="btn btn-outline-danger btn-lg btn-block" style="margin-top:15px">
                                                    <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                    <span id="payment-button-amount">确认修改</span>
                                            	</button>
                                          	</div>
                                        </div>
                                    </form>
                                </div>
                                <!-- pages3 -->
                            </div>
                            <!-- card-body -->
                        </div>
                        <!-- card -->
                    	</div>
                    </div>
                </div><!-- .animated -->

        	<div class="clearfix"></div>
    </div>
    <!-- /#right-panel -->
    <script>
          window.onload = function ()
          {
              var rs = document.getElementsByName('r');
              var divs = document.getElementsByName('pages');
              var index = 0;
              var anonymous = function (i)
              {
                  rs[i].onclick = function ()
                  {
                      divs[index].style.display = "none";
                      divs[i].style.display = "block";
                      index = i;
                  };
              };

              for ( var i = 0; i < rs.length; i++)
              {
                  anonymous (i);
              }
              rs[index].checked = true;
              divs[index].style.display = "block";
          };

    </script>
    <script src="/resources/javascript/vendor/jquery-2.1.4.min.js"></script>
	<script src="/resources/javascript/popper.min.js"></script>
    <script src="/resources/javascript/plugins.js"></script>
    <script>
    	$("#aside").load("/resources/pages/aside.html");
    	$("#header").load("/resources/pages/header.html");
        function loadJS(url){
          var Script = document.createElement('script');
          Script.setAttribute('src', url);
          Script.setAttribute('type', 'text/javascript');
          document.body.appendChild(Script);
          return Script;
        }
      	loadJS("/resources/javascript/main.js")
	</script>



</body>
</html>